# Ignorando diretório com os arquivos compilados e configurações do NetBeans
/build/
build.xml
# Ignorando diretório com configurações individuais de usuários
/nbproject/private/

# Ignorando diretórios de arquivos compilados e arquivos de configurações do Eclipse
/bin/
.classpath
.project